<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaControlador.Properties.Settings.P2AYD1ConnectionString"
            connectionString="Data Source=KESTLER-HP\SQLEXPRESS;Initial Catalog=P2AYD1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>